/ _add_Ready_Order.slim
= simple_fields_for :ready_orders do |r|
	=r.input   "subject"
	=r.input  "grade_1_teacher"
	=r.input  "grade_2_teacher"
	=r.input  "grade_3_teacher"
	=r.input  "grade_4_teacher"
	=r.input  "grade_5_teacher"
	=r.input  "grade_6_teacher"
	=r.input  "grade_7_teacher"
	=r.input  "grade_8_teacher"
	=r.input  "grade_1_student"
	=r.input  "grade_2_student"
	=r.input  "grade_3_student"
	=r.input  "grade_4_student"
	=r.input  "grade_5_student"
	=r.input  "grade_6_student"
	=r.input  "grade_7_student"
	=r.input  "grade_8_student"