/ _add_Ready_Order.slim
=form_tag "/end_users/add_order", id: "new_ready", remote: true
	= render "order"
	h4 Ready Group
	= fields_for :ready_order do |r|

		=r.select "subject", nil, {}, {class: "form-control"}
			option value="math" math
			option value="reading" reading
			option value="writing" writing
			option value="math & reading" math & reading
			option value="reading & writing" reading & writing
			option value="writing & math" writing & math
			option value="writing & math & reading" writing & math & reading
		=r.label "grade 1 teacher"	
		=r.number_field  "grade_1_teacher"	
		=r.label "grade 1 student"
		=r.number_field  "grade_1_student"
		=r.label "grade 2 teacher"
		=r.number_field  "grade_2_teacher"
		=r.label "grade 2 student"
		=r.number_field  "grade_2_student"
		=r.label "grade 3 teacher"
		=r.number_field  "grade_3_teacher"
		=r.label "grade 3 student"
		=r.number_field  "grade_3_student"
		=r.label "grade 4 teacher"
		=r.number_field  "grade_4_teacher"
		=r.label "grade 4 student"
		=r.number_field  "grade_4_student"
		=r.label "grade 5 teacher"
		=r.number_field  "grade_5_teacher"
		=r.label "grade 5 student"
		=r.number_field  "grade_5_student"
		=r.label "grade 6 teacher"
		=r.number_field  "grade_6_teacher"
		=r.label "grade 6 student"
		=r.number_field  "grade_6_student"
		=r.label "grade 7 teacher"
		=r.number_field  "grade_7_teacher"
		=r.label "grade 7 student"
		=r.number_field  "grade_7_student"
		=r.label "grade 8 teacher"
		=r.number_field  "grade_8_teacher"
		=r.label "grade 8 student"
		=r.number_field  "grade_8_student"
