


= simple_form_for @distribution do |f|
	.container-fluid
		.col-sm-3
		.col-sm-6
			h3 District
			= simple_fields_for @district do |d|
				=d.input :state
				=d.input :name
			h3 Distribution
			/optional
			=f.input :contact_name
			=f.input :street
			=f.input :city
			=f.input :state
			=f.input :zip 
			/end optional
			=f.input :creation_date
			=f.input :final_quote_id
			=f.input :po_number	

			h3#orders Orders
			a href="#orders" id='_add_order' Add Order
			br/
			=f.submit
	

	=render partial: 'order'
	=render partial: 'iready_order'
	=render partial: 'ready_order'
			
