// Place all the styles related to the distributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.editInput {
  min-width: 100px
}

.editableValue {
	border-bottom: 1px dashed #337ab7;
	color: #337ab7;
}